{% extends "base.html" %}

{% block content %}
{% block title %} Graphs {% endblock %} 
    <h1> ( ͡° ͜ʖ ͡°) Graphs</h1>
        <h2>Graphs with pygal</h2>
        <ul>
                <li>
                    <a href="{{ url_for('line_graph_pygal')}}">Line Graph</a>
                </li>
                <li>
                    <a href="{{ url_for('box_graph_pygal')}}">Box Plot Graph</a>
                </li>
        </ul>
        <h2>Graphs with seaborn</h2>
        <ul>
                <li>
                    
                </li>
                <li>
                    
                </li>
        </ul>



{% endblock %} 